@model Project2EmailNight.Dtos.UserLoginDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Giriş Yap</title>
    <link rel="icon" href="~/vertical/assets/images/favicon-32x32.png" type="image/png" />
    <link rel="stylesheet" href="~/vertical/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
    <link rel="stylesheet" href="~/vertical/assets/css/icons.css" />
    <link rel="stylesheet" href="~/vertical/assets/css/app.css" />
</head>

<body class="bg-login">
    <div class="wrapper">
        <div class="section-authentication-login d-flex align-items-center justify-content-center mt-4">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <div class="card radius-15 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-xl-6">
                                <div class="card-body p-5">
                                    <div class="text-center">
                                        <img src="~/vertical/assets/images/logo-icon.png" width="80" alt="">
                                        <h3 class="mt-4 font-weight-bold">Tekrar Hoş Geldiniz</h3>
                                    </div>
                                    <div class="">
                                        <div class="form-body">

                                            <form class="row g-3" method="post" asp-controller="Login" asp-action="UserLogin">
                                                <div class="col-12">
                                                    <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
                                                    <input type="text" asp-for="Username" class="form-control" placeholder="Kullanıcı Adınızı Giriniz">
                                                </div>
                                                <div class="col-12">
                                                    <label asp-for="Password" class="form-label">Şifre</label>
                                                    <div class="input-group" id="show_hide_password">
                                                        <input type="password" asp-for="Password" class="form-control border-end-0" placeholder="Şifrenizi Giriniz">
                                                        <a href="javascript:;" class="input-group-text bg-transparent"><i class="bx bx-hide"></i></a>
                                                    </div>
                                                </div>

                                                <div asp-validation-summary="ModelOnly" class="text-danger mt-2 font-weight-bold"></div>

                                                <div class="col-12 mt-4">
                                                    <div class="d-grid">
                                                        <button type="submit" class="btn btn-primary"><i class="bx bxs-lock-open"></i>Giriş Yap</button>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center mt-3">
                                                    <p>Henüz hesabınız yok mu? <a asp-controller="Register" asp-action="CreateUser">Buradan Kayıt Olun</a></p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 bg-login-color d-flex align-items-center justify-content-center">
                                <img src="~/vertical/assets/images/login-images/login-frent-img.jpg" class="img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vertical/assets/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("bx-hide");
                    $('#show_hide_password i').removeClass("bx-show");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("bx-hide");
                    $('#show_hide_password i').addClass("bx-show");
                }
            });
        });
    </script>
</body>
</html>